<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{name}}</h1>

  <ion-item>
    <ion-label floating>Bank name</ion-label>
    <ion-input type="text"
      #bank
      (keyup.enter)="addBank(bank.value, $event); bank.value = ''">
    </ion-input>
  </ion-item>

  <div padding>
    <button ion-button secondary block (click)="addBank(bank.value, $event); bank.value = ''">Add</button>
  </div>

  <ion-list>
    <ion-item *ngFor="let bank of banks">
      {{ bank }}
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle color="secondary" [(ngModel)]="isAvailable"></ion-toggle>
  </ion-item>
  <h1 *ngIf="isAvailable"> Condition </h1>

</ion-content>
